Screen {
    background: #000;
}

IntroHeader {
    padding: 1 2;
    content-align: center middle;
    width: 100%;
}   

#main_scroll {
    height: 1fr;
    scrollbar-size: 0 0;
    width: 100%;
}

#input_container {
    dock: bottom;
    height: auto;
    align: center middle;
    margin-bottom: 2;
}

#user_input {
    width: 80%;
    color: #fff;
    background: #222;
}

#chat_container {
    height: auto;
    width: 80%;
}

Container {
    width: 100%;
}

VerticalScroll {
    width: 100%;
}

ChatMessage {
    align: center middle;
    padding: 1;
    background: #000;
    border-left: thick $accent;
}